<h1>チャットアプリ</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<p>現在「<%= @mydata.name %>」でログインしています</p>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'ルーム', :controller => "chat_messages", :action => "index", :id => user.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'アカウント情報変更', edit_user_path(@mydata) %>
<%= link_to 'ログアウト', logout_path, method: :delete %>
